__pycache__/
*.py[cod]
.vscode/
.venv/
venv/
Thumbs.db
.DS_Store

# wyniki i dane robocze
output/
export_clean/
training_runs/
rankings/
datasets/
models/
runs/
wandb/
Workspace/

# wagi / modele
*.pt
*.onnx
*.engine

*.log
